<div class="row">

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Lotofacil</h3>
            </div>
            <div class="panel-body">
                <?php echo $this->lotofacilHelper();?>
                <p><a class="btn btn-success pull-right" href="<?php echo $this->url('conf-lotofacil'); ?>">Clique para conferir os jogos &raquo;</a></p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Megasena</h3>
            </div>
            <div class="panel-body">
                <?php echo $this->megasenaHelper();?>
                <p><a class="btn btn-success pull-right" href="<?php echo $this->url('conf-megasena'); ?>" >Clique para conferir os jogos &raquo;</a></p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Quina</h3>
            </div>
            <div class="panel-body">
                <?php echo $this->quinaHelper();?>
                <p><a class="btn btn-success pull-right" href="<?php echo $this->url('conf-quina'); ?>" >Clique para conferir os jogos &raquo;</a></p>
            </div>
        </div>
    </div>
</div>
