<div class="row content filtro-row">
    <div class="col-sm-10">
        <form id="formnumeros" onsubmit="return false;">
            <label>
               Conferir do concurso
            </label>

            <input type="number" maxlength="4" name="concurso-ini" id="concurso-ini" class="input-sm num-concurso"  />
            <label>
                até
            </label>
            <input type="number" maxlength="4" name="concurso-fim" id="concurso-fim" class="input-sm num-concurso"  />
            <button class="conferir btn btn-success">Conferir</btn>
        </form>
    </div>    
</div>
<div class="row content">
    <div class=" col-sm-6 table-responsive">
        <table class="table">
            <tbody>
                <?php $n=1;?>
                <?php for($i=1;$i<7;$i++):?>
                <tr>
                <?php for($r=1;$r<11;$r++):?>
                    <td><button class="numeros btn btn-default"><?php echo str_pad($n, 2, '0',STR_PAD_LEFT); ?></button></td>
                <?php $n++?>
                <?php endfor;?>
                </tr>
                <?php endfor;?>                
            </tbody>
        </table>
        <div><label>Qnt. de numeros selecionados: <span id="qntnumselecionado">0</span></label></div>
    </div> 
    
    <div class="col-sm-8">
        <label class="h4">Resultado</label>
         <div class="aguarde" style="display:none;">
             <center>
                <img class="img-responsive" src="/img/ajax-loader.gif"> 
                <p class="text-center text-info"> Aguarde enquanto é feito a conferencia...</p>
             </center>
         </div>
        <div class="resultado-loteria table-responsive">
            <table class="table">
                <thead>
                    <th>Conc.</th>
                    <th>Números sorteados</th>                    
                    <th>Números Acertos</th>                    
                    <th>Acertos</th>
                    <th>Status</th>
                </thead>
                <tbody>
                
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade confirm-message" tabindex="-1" role="dialog" aria-labelledby="confirm-message" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Atenção</h4>
        </div>
        <div class="modal-body" id="message-confirm">
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" id='confirmarenvio'>Confirmar</button>
        </div>
    </div>
  </div>
</div>
<div class="modal fade alert-message" tabindex="-1" role="dialog" aria-labelledby="alert-message" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" >Atenção</h4>
        </div>
        <div class="modal-body" id="message-alert">
          
        </div>
    </div>
  </div>
</div>